.time {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.time div {
    margin-left: 10px;
}

.inp {
    height: 70px;
}

.error {
    border-color: red;
}

.btn{
    display: flex;
    border-color: #abf0ff;
    background-color: rgba(179, 255, 227, 0.49);
    border-radius: 40px;
    font-size: 20px;
    height: 50px;

}