.todoList {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.input,
.error{
    width: 250px;
}

.todoList > div {
    padding: 10px;
}

.filter-active {
    background-color: #f8ff6f;

}


.filter-active, .stand {
    height: 30px;
    width: 100px;
    margin: 10px 10px;
}

.error {
    border-color: red;
}



.todoList-task {
    border: 1px solid black;
    margin-bottom: 25px;
    background-color: ghostwhite;
}

.delete {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.todoList-task button {
    height: 20px;
    width: 40px;
    font-size: 10px
}


.prior {
    display: flex;
}

.low {
    background-color: greenyellow;
}

.average {
    background-color: orange;
}

.high {
    background-color: red;
}

.text {
    font-size: 15px;
}


div.list div.inner {
    display: none;
}

div.list:hover div.inner {
    text-align: left;
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    margin-left: 220px;
    padding: 2px 30px;
    width: 350px;
    background-color: #fff;
    border: 2px solid #666;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}