.todoList {
    width: 500px;
    margin: 0 auto;
}

.todoList > div {
    padding: 10px;
}

.filter-active {
    background-color: blue;
}


.error {
    border-color: red;
}

.todoList-task button{
    height: 20px;
    width: 40px;
    font-size: 10px
}

.low {
    background-color: greenyellow;
    font-size: 10px;
}

.average {
    background-color: orange;
}

.high {
    background-color: red;
}

.text{
    font-size: 15px;
}