.page {
    display: flex;
    justify-content: center;
}

.general {
    width: 50%;
    display: flex;
    justify-content: space-around;

}

span, .btn {
    font-size: 25px;
    font-family: "Adobe Garamond Pro Bold";
}

.inp {
    width: 40%;
}

.btn {
    border-color: #30e7ff;
    background-color: rgba(102, 255, 235, 0.49);
}

