.main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.text {
    border:3px solid #0095b8;
    border-radius:10px;
    height:50px;
    width:700px;
    padding:20px;
    position:relative;
}
.text:before {
    border:40px solid transparent;
    border-bottom-color:white;
    position:absolute;
    bottom:100%;
    right:40px;
    content:'';
}
.text:after {
    border:48px solid transparent;
    border-bottom-color:#0095b8;
    position:absolute;
    bottom:100%;
    right:42px;
    content:'';
}
